workflows/rag_agent_chat_step1.workflow.json
{
  "name": "rag_agent_chat_step1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rag-agent-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "fb416182-d6b0-47b4-8408-d84a160dcde0",
      "name": "Webhook Chat",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        180,
        320
      ],
      "webhookId": "827ffb45-7110-4fce-874d-909bce723e40"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9ab29cb5-43e0-4c3a-ae2d-02de180dc9d6",
              "name": "query",
              "value": "={{$json.body?.query || $json.query || $json.body?.message || $json.message || $json.chatInput || \"\"}}",
              "type": "string"
            },
            {
              "id": "7fa4d427-421b-46bc-860f-42309e61da36",
              "name": "session_id",
              "value": "={{$json.body?.session_id || $json.session_id || $json.chatId || $execution.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "44fb5ca9-7061-40e7-87cb-b2de19d5cefc",
      "name": "Edit Input Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        420,
        320
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "You are a RAG assistant for personal and company conversations. Use Qdrant Vector Store tool to retrieve knowledge for factual questions. If retrieval does not provide enough data, say you do not have enough indexed information."
        }
      },
      "id": "647e58d1-6ca0-46ad-95f6-c10708971790",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        680,
        320
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.session_id }}"
      },
      "id": "0b359a67-9066-42e8-ad57-c27579d7691a",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        700,
        520
      ]
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Retrieve relevant chunks from personal/company indexed knowledge in Qdrant.",
        "qdrantCollection": {
          "__rl": true,
          "mode": "id",
          "value": "knowledge_base"
        },
        "topK": 6,
        "options": {}
      },
      "id": "08f95dcc-e209-474c-b111-fe4501e58aae",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        960,
        520
      ],
      "credentials": {
        "qdrantApi": {
          "id": "cyLgHqoAKSu8ibHB",
          "name": "Docker Qdrant"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest",
        "options": {}
      },
      "id": "cc78fd92-88c7-4396-9857-0f59b9dcdb50",
      "name": "Embeddings Ollama",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1180,
        700
      ],
      "credentials": {
        "ollamaApi": {
          "id": "5MyXKFONAVc7e2Ug",
          "name": "Docker Ollama"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "id": "be00b8ec-5a22-447c-8531-054207cccfc7",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        500,
        520
      ],
      "credentials": {
        "ollamaApi": {
          "id": "5MyXKFONAVc7e2Ug",
          "name": "Docker Ollama"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "43c95573-16b4-414f-814a-240a990eb1af",
              "name": "answer",
              "value": "={{$json.output || $json.text || \"\"}}",
              "type": "string"
            },
            {
              "id": "538a2aa0-f5f9-4575-80e3-35d7eb174a94",
              "name": "mode",
              "value": "grounded_plus_general",
              "type": "string"
            },
            {
              "id": "5d5715f8-b0a5-419c-9757-d06561ff8ade",
              "name": "confidence",
              "value": "={{0.72}}",
              "type": "number"
            },
            {
              "id": "5702090e-1a90-4215-bea6-720ed317e7d2",
              "name": "session_id",
              "value": "={{$(\"Edit Input Fields\").item.json.session_id}}",
              "type": "string"
            },
            {
              "id": "3bb6456b-64f2-4d18-bc33-dc57effa09c9",
              "name": "trace_id",
              "value": "={{$execution.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4a0d2480-5910-4268-b3d2-654ec3f28e05",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        940,
        320
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "7641cfdb-607a-41c5-bcd8-6b12fa910516",
      "name": "Respond Chat",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1180,
        320
      ]
    }
  ],
  "connections": {
    "Webhook Chat": {
      "main": [
        [
          {
            "node": "Edit Input Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Input Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "active": false
}
